Job alert.json
{
  "name": "Job alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "96179314-88be-4d04-b7db-73b3cb4e7740",
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4032,
        3424
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "jobRole",
              "value": "<product mangement intership>,<associate product manager>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "jobLocation",
              "value": "<India>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "jobBoardUrl",
              "value": "<https://in.linkedin.com/>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c62271b0-2a05-460c-a223-2763c4a0708e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        3424
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.jobRole }} jobs in {{ $json.jobLocation }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a job monitoring assistant.\n\nEvery 4 hours, scan my Gmail inbox for new emails received in the last 7 days.\n\nOnly identify emails related to the following roles:\n- Product Management Intern or Product Management Internship\n- Associate Product Manager or APM\n\nIgnore emails that do not match these roles.\nIgnore duplicate emails using the Gmail message ID.\n\nFrom each relevant email, extract available job details such as:\njob title, company name, location (if mentioned), short summary, apply link or email source, and date received.\n\nWhen a new relevant job email is found, send a WhatsApp notification using Twilio with the extracted job details.\n\nIf no relevant new emails are found, do nothing."
        }
      },
      "id": "35400d20-f55a-4b1f-937d-bcdad69e4469",
      "name": "Job Scraper Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3088,
        3424
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"jobs\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"title\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"company\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"location\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"salary\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"link\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "1c3a570b-6f2d-4af8-b0dc-a0bf1ddb526e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2880,
        3648
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "aniketsingh.8761@gmail.com, aniket.kr.0319@gmail.com",
        "subject": "=New Job Postings: Multiple Roles and Locations",
        "message": "=<h2>🔔 New Job Postings Found!</h2><p><strong>Total Jobs:</strong> {{ $json.jobs.length }}</p><hr>{{ $json.jobs.map(job => `<div style=\"margin-bottom: 20px;\"><h3>${job.title}</h3><p><strong>Company:</strong> ${job.company}<br><strong>Location:</strong> ${job.location}<br><strong>Salary:</strong> ${job.salary || \"Not specified\"}<br><strong>Description:</strong> ${job.description}</p><p><a href=\"${job.link}\">Apply Now</a></p></div>`).join(\"\") }}",
        "options": {}
      },
      "id": "374f3f9d-2565-462e-8467-1f6d2afedf70",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -2448,
        3424
      ],
      "webhookId": "3c70df6f-e627-40bc-aa0f-17ffd35828ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMff9yvIVRI70sL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917033018628",
        "toWhatsapp": true,
        "message": "Your Job posts are here",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -2448,
        3616
      ],
      "id": "55c9ee59-13b5-42b0-9128-b47a7c7c2c3e",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "wYZbxyOdMRkhvePT",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "searches",
              "value": "[{\"jobRole\":\"Product Management Internship\",\"jobLocation\":\"India\",\"jobBoardUrl\":\"https://www.simplyhired.com/search?q=product+management+internship&l=india\"},{\"jobRole\":\"Associate Product Manager\",\"jobLocation\":\"India\",\"jobBoardUrl\":\"https://www.simplyhired.com/search?q=associate+product+manager&l=india\"}]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ea1489d1-4a76-4b71-bd75-4119a047ceb8",
      "name": "Define Job Searches",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3584,
        3424
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "searches",
        "options": {}
      },
      "id": "3d65f24d-012f-412a-91cb-ab6b3c65ad6a",
      "name": "Split Job Searches",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3360,
        3424
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "jobs"
            }
          ]
        },
        "options": {}
      },
      "id": "b7c0400b-0d6a-47b6-891a-1ceaccfc9a33",
      "name": "Combine All Jobs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2672,
        3424
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 500,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -3008,
        3648
      ],
      "id": "ce65eb77-aa7f-4bd2-a34a-cad315114c25",
      "name": "Get many messages in Gmail",
      "webhookId": "43ed2125-b5f6-48cc-921e-bf629d4eb838",
      "credentials": {
        "gmailOAuth2": {
          "id": "cUMff9yvIVRI70sL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -3248,
        3680
      ],
      "id": "3448abd5-db5b-4e93-ac75-32365bf323cd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7TKzjLpOV7FptURh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Job Scraper Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Define Job Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Job Searches": {
      "main": [
        [
          {
            "node": "Split Job Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Job Searches": {
      "main": [
        [
          {
            "node": "Job Scraper Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Scraper Agent": {
      "main": [
        [
          {
            "node": "Combine All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Jobs": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Job Scraper Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Job Scraper Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1e0d6826-062c-4fdc-9b92-8e3a8af4ebaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de6002086a79700882362b747181e1d8c30998d5e0a9d95fb33b6a3db5e17595"
  },
  "id": "ueZ008nBjhbo2geB",
  "tags": []
}